<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <style>
    html,
    body,
    .fht {
      height: 100%;
      margin-bottom: 0px
    }

    body {
      margin: 16px
    }

    td {
      padding: 0px
    }

    .row {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  </style>

</head>

<body>
  <div class="row fht">
    <div class="col s6 center-align valign-wrapper fht">
      <div class="row">
        <div class="row s12">
          <img id="initImage" class="responsive-img" src="{{ apiroot }}/camfeed/{{camids.0}}" style='max-width:95%' />
          <canvas id="canvas" class="responsive-img"
            style='display:none; width:100%;background-position: center;background-size: 100% 100%;'>
            Your browser doesn't support canvas
          </canvas>
        </div>
        <div class="row s12">
          <div class="input-field col s12">
            <select>
              {%for camid in camids%}
              <option value="{{camid}}">{{camid}}</option>
              {%endfor%}
            </select>
            <label>Select Camera</label>
          </div>
        </div>
        <div class="row s12">
          <div class="col s3">
            <a onclick="genCalibrationPreview()" class="waves-effect waves-light btn">Calibrate Preview</a>
          </div>
          <div class="col s3">
            <a onclick="saveCalibrationPoints()" class="waves-effect waves-light btn">Save</a>
          </div>
        </div>
        <div class="row s12">
          {%if pointmapper == true %}
          <div class="col s6">
            <table>
              <thead>
                <tr>
                  <th>Point</th>
                  <th>Perspective Pt</th>
                  <th>Flat Pt</th>
                </tr>
              </thead>

              <tbody id="polycoordinates_tbody">
              </tbody>
            </table>
          </div>
          {% else %}
          <ul id="polycoordinates_ul" class="collection with-header">
            <li class="collection-header">
              <h6>Polygon Coordinates</h6>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col s6 center-align valign-wrapper fht">
      <div class="row">
        <div class="row">
          <img id="calibImg" style='max-width:95%' class="responsive-img" src="{{ apiroot }}/camfeed/{{ camids.0 }}" />
        </div>

        <div class="row">
          <div class="progress" style="visibility:hidden">
            <div class="indeterminate"></div>
          </div>
          <canvas id="preview-canvas" class="responsive-img" style='display:none; border:1px solid #ccc'>
            Your browser doesn't support canvas
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    {% include 'polySelector.js' %}
  </script>

</body>

</html>